<%= form_with(model: property, local: true, class: 'ui form') do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="two fields">
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>
    <div class="field">
      <%= form.label :owner_id %>
      <div class="ui fluid search selection dropdown">
        <%= form.hidden_field :owner_id, value: params[:owner] || property.owner_id %>
        <i class="dropdown icon"></i>
        <div class="default text">Selecione um cliente</div>
        <div class="menu">
          <% @customers.each do |customer| %>
            <div class="item" data-value="<%= customer.id %>">
              <i class="lnr lnr-user"></i> <%= customer.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <%= form.label :category %>
      <div class="ui dropdown selection">
        <%= form.hidden_field :category, value: params[:category] || property.category %>
        <div class="default text">Selecione uma categoria</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="casa">Casa</div>
          <div class="item" data-value="apartamento">Apartamento</div>
          <div class="item" data-value="terreno">Terreno</div>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui button' %>
  </div>
<% end %>
