<table class="ui very basic collapsing celled padded table" style="width: 100%"
       <%= "data-table=#{datatable}" if defined? datatable %>>
  <thead>
    <th>
      <span class="text-light">Descrição</span>
    </th>
    <th></th>
  </thead>
  <tbody>
    <% properties.each do |property| %>
      <tr>
        <td>
          <h4 class="ui image header">
            <i class="lnr lnr-<%= property.category_icon %>"></i>&nbsp;
            <div class="content text-normal">
              <%= link_to property.description, property, class: 'text-inherit', title: 'Visualizar imóvel' %>
              <div class="sub header">
                <%= property.address %>
              </div>
            </div>
          </h4>
        </td>
        <td class="center aligned">
          <%= link_to 'Novo negócio', new_rent_path(property: property) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
