<div class="ld-flex">
  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-home"></i> Lista de casas
      <div class="right floated">
        <%= link_to new_property_path(category: 1), title: 'Cadastrar casa' do %>
          <i class="lnr lnr-plus-circle"></i>
        <% end %>
      </div>
    </h3>
    <div class="ld-block-content">

      <% if @houses.any? %>
        <%= render 'properties_list', properties: @houses %>
      <% else %>
        <div class="text-center text-light">
          Não há casas cadastradas<br>
          <%= link_to new_property_path(category: 0), class: 'register-button' do %>
            <i class="lnr lnr-plus-circle"></i> Cadastrar agora
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="ld-flex">
  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-apartment"></i> Lista de apartamentos
      <div class="right floated">
        <%= link_to new_property_path(category: 2), title: 'Cadastrar apartamento' do %>
          <i class="lnr lnr-plus-circle"></i>
        <% end %>
      </div>
    </h3>
    <div class="ld-block-content">

      <% if @apartments.any? %>
        <%= render 'properties_list', properties: @apartments %>
      <% else %>
        <div class="text-center text-light">
          Não há apartamentos cadastrados<br>
          <%= link_to new_property_path(category: 1), class: 'register-button' do %>
            <i class="lnr lnr-plus-circle"></i> Cadastrar agora
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="ld-flex">
  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-sun"></i> Lista de terrenos
      <div class="right floated">
        <%= link_to new_property_path(category: 3), title: 'Cadastrar terreno' do %>
          <i class="lnr lnr-plus-circle"></i>
        <% end %>
      </div>
    </h3>
    <div class="ld-block-content">

      <% if @lands.any? %>
        <%= render 'properties_list', properties: @lands %>
      <% else %>
        <div class="text-center text-light">
          Não há terrenos cadastrados<br>
          <%= link_to new_property_path(category: 3), class: 'register-button' do %>
            <i class="lnr lnr-plus-circle"></i> Cadastrar agora
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
