<div class="ld-flex">
  <div class="ld-block">

    <div class="ld-flex">
      <div class="property-images-grid">
        <% if @property.images.any? %>
          <% @property.images.each do |image| %>
            <%= link_to image, class: 'lightbox' do %>
              <%= image_tag image, class: 'ui medium rounded image' %>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag 'building-placeholder.png', class: 'ui medium rounded image lightbox' %>
        <% end %>
      </div>

      <div style="width: 100%">
        <h2 class="ui header text-light" style="width: 100%">
          <%= link_to edit_property_path(@property), class: 'right floated', title: 'Editar imóvel' do %>
            <i class="lnr lnr-pencil"></i>
          <% end %>
          <i class="lnr lnr-apartment"></i> <%= @property.description %>
          <div class="sub header">
            <%= @property.address %>
          </div>
        </h2>

        <div class="ui placeholder">
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="line"></div>
          </div>
        </div>
      </div>

    </div><!-- ld-flex -->

  </div>
</div>

<% if @rents.any? %>
  <div class="ld-flex">
    <div class="ld-block">
      <h2 class="ui header text-light">
        <i class="lnr lnr-briefcase"></i> Negócios
      </h2>

      <table class="ui very basic collapsing celled padded table" style="width: 100%">
        <thead>
          <tr>
            <th>
              <span class="text-light">Valor</span>
            </th>
            <th>
              <span class="text-light">Cliente</span>
            </th>
            <th>
              <span class="text-light">Início</span>
            </th>
            <th>
              <span class="text-light">Fim</span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @rents.each do |rent| %>
            <tr>
              <td>
                <%= number_to_currency rent.value %>
              </td>
              <td>
                <%= rent.customer.name %>
              </td>
              <td>
                <%= l rent.start_date %>
              </td>
              <td>
                <%= l rent.end_date %>
              </td>
              <td class="center aligned">
                <%= link_to rent_path(rent), title: 'Visualizar negócio' do %>
                  <i class="lnr lnr-eye"></i>
                <% end %>&nbsp;
                <%= link_to edit_rent_path(rent), title: 'Editar negócio' do %>
                  <i class="lnr lnr-pencil"></i>
                <% end %>&nbsp;
                <%= link_to rent_path(rent), title: 'Deletar negócio', method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                  <i class="lnr lnr-trash red"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
<% end %>
