<table class="ui very basic collapsing celled padded table datatable" style="width: 100%">
  <thead>
    <tr>
      <th></th>
      <th class="center aligned">
        <span class="text-light">Início</span>
      </th>
      <th class="center aligned">
        <span class="text-light">Fim</span>
      </th>
      <th class="center aligned">
        <span class="text-light">Valor</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% rents.each do |rent| %>
      <tr>
        <td>
          <h4 class="ui image header">
            <div class="content text-normal">
              <%= link_to rent_path(rent), title: 'Visualizar negócio' do %>
                <i class="lnr lnr-eye" style="margin-right: 10px"></i>
              <% end %>
              <i class="lnr lnr-user"></i> <%= link_to rent.customer.name, rent.customer, class: 'text-inherit', title: 'Visualizar cliente' %>
              <span class="customer-property-divider">
                <i class="lnr lnr-chevron-left"></i><i class="lnr lnr-chevron-right"></i>
              </span>
              <i class="lnr lnr-apartment"></i> <%= link_to rent.property.description, rent.property, class: 'text-inherit', title: 'Visualizar imóvel' %>
            </div>
          </h4>
        </td>
        <td class="center aligned">
          <%= l rent.start_date %>
        </td>
        <td class="center aligned">
          <%= l rent.end_date %>
        </td>
        <td class="center aligned">
          <%= number_to_currency rent.value %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
