<p id="notice"><%= notice %></p>

<h1>Rents</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Property</th>
      <th>Value</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.customer_id %></td>
        <td><%= rent.property_id %></td>
        <td><%= rent.value %></td>
        <td><%= rent.start_date %></td>
        <td><%= rent.end_date %></td>
        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent', new_rent_path %>
