<%= form_with(model: customer, local: true, class: 'ui form') do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="two fields">
    <div class="field">
      <%= form.label :rg %>
      <%= form.text_field :rg %>
    </div>

    <div class="field">
      <%= form.label :cpf %>
      <%= form.text_field :cpf, class: 'cpf-mask' %>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <%= form.label :birthday %>
      <%= form.text_field :birthday, class: 'air-datepicker' %>
    </div>

    <div class="field">
      <%= form.label :cellphone %>
      <%= form.text_field :cellphone, class: 'phone-mask' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="three fields">
    <div class="field">
      <%= form.label :occupation %>
      <%= form.text_field :occupation %>
    </div>

    <div class="field">
      <%= form.label :income %>
      <div class="ui left icon input">
        <i class="dollar sign icon"></i>
        <%= form.text_field :income, class: 'money-mask' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :customer_type %>
      <div class="ui dropdown selection">
        <%= form.hidden_field :customer_type, value: params[:customer_type] || customer.customer_type %>
        <div class="default text">Selecione um tipo</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="proprietário">Proprietário</div>
          <div class="item" data-value="inquilino">Inquilino</div>
        </div>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= form.submit class: 'ui button' %>
  </div>
<% end %>
