<div class="ld-flex">

  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-users"></i> Lista de proprietários
      <div class="right floated">
        <%= link_to new_customer_path(customer_type: 1), title: 'Cadastrar proprietário' do %>
          <i class="lnr lnr-plus-circle"></i>
        <% end %>
      </div>
    </h3>
    <div class="ld-block-content">

      <% if @landlords.length.positive? %>
        <%= render 'customers_list', customers: @landlords %>
      <% else %>
        <div class="text-center text-light">
          Não há proprietários cadastrados<br>
          <%= link_to new_customer_path(customer_type: 1), class: 'register-button' do %>
            <i class="lnr lnr-plus-circle"></i> Cadastrar agora
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-users"></i> Lista de inquilinos
      <div class="right floated">
        <%= link_to new_customer_path(customer_type: 0), title: 'Cadastrar inquilino' do %>
          <i class="lnr lnr-plus-circle"></i>
        <% end %>
      </div>
    </h3>
    <div class="ld-block-content">

      <% if @tenants.length.positive? %>
        <%= render 'customers_list', customers: @tenants %>
      <% else %>
        <div class="text-center text-light">
          Não há inquilinos cadastrados<br>
          <%= link_to new_customer_path(customer_type: 0), class: 'register-button' do %>
            <i class="lnr lnr-plus-circle"></i> Cadastrar agora
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

</div>
