<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @customer.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @customer.cpf %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @customer.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @customer.occupation %>
</p>

<p>
  <strong>Income:</strong>
  <%= @customer.income %>
</p>

<p>
  <strong>Type:</strong>
  <%= @customer.type %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
