<header class="main-header">

  <div class="header-top">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo-transparent-white.png' %>
      <% end %>
    </div>
    <!--<div class="header-actions">
      <div class="ui inline dropdown">
        <div class="text login-text">
          <%#= image_tag 'square-image.png', class: 'ui avatar image' %>
          <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg" class="ui avatar image">
          <%= current_user.name %>
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to edit_user_registration_path, class: 'item' do %>
            <i class="lnr lnr-user"></i> Minha Conta
          <% end %>
          <%= link_to destroy_user_session_path, class: 'item', method: :delete do %>
            <i class="lnr lnr-exit"></i> Sair
          <% end %>
        </div>
      </div>

    </div>-->
  </div>

  <!--<nav class="header-nav">
    <ul class="menu-nav">
      <li>
        <%= link_to customers_path, class: menu_nav_link_class('customers') do %>
          <i class="lnr lnr-users"></i> Clientes
        <% end %>
      </li>
      <li>
        <%= link_to properties_path, class: menu_nav_link_class('properties') do %>
          <i class="lnr lnr-apartment"></i> Imóveis
        <% end %>
      </li>
      <li>
        <%= link_to rents_path, class: menu_nav_link_class('rents') do %>
          <i class="lnr lnr-briefcase"></i> Negócios
        <% end %>
      </li>
    </ul>
  </nav>-->

</header>
