<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <title>Lyondale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'semantic', 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="application">
    <%= render 'layouts/partials/header' %>

    <%= render 'layouts/partials/sidebar' %>

    <main class="application-main" data-grid="main">
      <%= yield %>
    </main>

    <%= toastr_flash %>
  </body>
</html>
